// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  .list {
    background-color: lightgrey;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
  }
  h2 {
    margin: 20px;
  }
}
